@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

body a,p,ul,li,sub,sup,h1, pre{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
    user-select: none;
    cursor: default;
}

section,
div{
    margin-left: 0;
    margin-top: 0;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Home Section */

#home-button {
    background-color: #FFC80A;
    border-radius: 20px;
    padding: 20px 70px;
    border: 5px solid #FFC80A;
    letter-spacing: 3px;
    transition-duration: 0.35s;
    outline: none;
}

#home-button:hover {
    background-color: transparent;
    color: black;
    transition-duration: 0.35s;
    border: 5px solid #FFC80A;
}

#home-title {
    letter-spacing: 4px;
    font-size: 15vw;
}

.button {
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    margin-top: 25px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.subtext {
    color: #eeeeee;
    font-size: 24px;
    text-align: center;
}

.info {
    margin: auto auto;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

span.logo-first {
    color: #eeeeee;
    font-weight: 700;
}

span.logo-second {
    color: #222222;
    font-weight: 700;
}

.photo {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: relative;
}

.color {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: relative;
}

#home {
    background:
            linear-gradient(
                    rgba(22,22,22, 0.35),
                    rgba(22,22,22,0.35)
            ),
            url("Images/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;

    display: flex;
    align-items: center;
}

/* Navigation Bar Menu Button */

.topnav .menu-btn {
    display: none;
}

.topnav .menu-btn:checked ~ nav .menu,
.topnav .menu-btn:checked ~ nav .menudown{
    max-height: 400px;
}

.topnav .menu-btn:checked ~ nav .menu1,
.topnav .menu-btn:checked ~ nav .menudown1{
    max-height: 0px;
}

.topnav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.topnav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.topnav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.topnav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.topnav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* Navigation Bar */

.topnav {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 3;
    transition-duration: 2s;
}

.topnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    letter-spacing: 2px;
    padding: 1.25em 0.7em;
    text-decoration: none;
    transition-duration: 0.25s;
}

.topnav li a:hover {
    position: relative;
    color: #FFC80A;
    cursor: pointer;
    font-weight: 900;
    transform: scale(1.2, 1.2);
    background-color: inherit;
}

.topnav .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

.active {
    color: #FFC80A !important;
    cursor: pointer;
    transition-duration: 0.25s;
    font-weight: 900;
    background-color: inherit;
    transform: scale(1.2, 1.2);
    transition-timing-function: ease;
}

/* Navigation Bar Menu */

.topnav nav .menu,
.topnav nav .menudown{
    clear: none;
    float: right;
    max-height: none;
    padding-right: 1.25em;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.menu li a {
    color: #eeeeee;
    transition-duration: 0.25s;
}

.menu li a:hover {
    color: #FFC80A !important;
    cursor: pointer;
    font-weight: 900;
    transform: scale(1.2, 1.2);
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

/* Navigation Bar Menu Icon */

.topnav .menu-icon {
    cursor: pointer;
    display: none;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.topnav .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.topnav .menu-icon .navicon:before,
.topnav .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.topnav .menu-icon .navicon:before {
    top: 5px;
}

.topnav .menu-icon .navicon:after {
    top: -5px;
}

/* Navigation Bar */

a {
    color: #222222;
}

#logo {
    padding: 0.55em 1.25em;
    float: left;
    transition-duration: 0.3s;
}

#logo-link {
    float:left;
    color: transparent;
    font-size: 2em;
    cursor: default;
    transition-duration: 0.3s;
}

#logo-link-down {
    float:left;
    letter-spacing: 1.05px;
    transition-duration: 0.3s;
    font-size: 2em;
    color: rgb(34, 34, 34);
    cursor: pointer;
}

#logo-link-down:hover {
    float:left;
    color: #FFC80A;
    font-weight: 700;
    transition-duration: 0.3s;
    transform: scale(1.07, 1.07);
    transition-timing-function: ease;
}

/* Navigation Bar Transition (60em = 960px) */

.topnav-mobile li {
    float: none;
}
.topnav-mobile li a {
    color: #222222;
    letter-spacing: normal;
}

.topnav-mobile nav .menu,
.topnav-mobile nav .menudown{
    clear: both;
    float: none;
    max-height: 0;
    padding-right: 0;
}

.topnav-mobile .menu-icon {
    display: inline-block;
}

.topnav-mobile li a:hover {
    transform: none;
    background-color: #222;
}

.topnav-mobile {
    background-color: rgba(238, 238, 238, 0.9);
}

.topnav-mobile .active {
    transform: none;
    color: #eeeeee !important;;
    background-color: #333;
    font-weight: 600;
}



@media (max-width: 960px) {

    .topnav li {
        float: none;
    }

    .topnav li a {
        color: #222222;
        letter-spacing: normal;
    }

    .topnav nav .menu,
    .topnav nav .menudown{
        clear: both;
        float: none;
        max-height: 0;
        padding-right: 0;
    }

    .topnav .menu-icon {
        display: inline-block;
    }

    .topnav li a:hover {
        transform: none;
        background-color: #222;
    }

    .topnav {
        background-color: rgba(238, 238, 238, 0.9);
    }

    .active {
        transform: none;
        color: #eeeeee !important;
        background-color: #333;
        font-weight: 600;
    }
}

/* Pricing Section */

#pricing {
    background:
            linear-gradient(
                    rgba(22,22,22, 0.35),
                    rgba(22,22,22,0.35)
            ), url("Images/pricing.jpg");
    height: auto;
    padding: 3em 0;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: 1;
    margin:0;
    position: relative;
}

p#pricing-title{
    text-transform: uppercase;
    z-index: 2;
    text-align: center;
    font-size: 400%;
    margin: 0;
    color: #eeeeee;
    padding-top: 1em;
}

p#pricing-description {
    z-index: 2;
    color: #eeeeee;
    text-align: center;
    padding-top: 2%;
    width: 50%;
    margin-left: 25%;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 200%;
}

#pricing-block {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    height:auto;
    /*width: 37em;*/
    z-index: 3;
    border-radius: 10px;
    margin: 4em 0 0;
    align-content: flex-start;
}

#pricing-block1 {
    z-index: 4;
    justify-content: center;
    text-align: center;
    width: 18.5em;
    padding:5em 0;
    background-color: rgba(238, 238, 238, 0.9);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition-duration: 0.3s;
}

#pricing-block1:hover {
    z-index: 5;
    transition-duration: 0.3s;
    background-color: #eeeeee;
    border-radius: 10px;
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 200px rgba(34, 34, 34, 0.9);
}

#pricing-block2 {
    z-index: 4;
    width: 18.5em;
    text-align: center;
    justify-content: center;
    padding:5em 0;
    background-color: rgba(238, 238, 238, 0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition-duration: 0.3s;
}

@media (max-width: 37em) {
    #pricing-block1 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    #pricing-block2 {
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
    }
}

#pricing-block2:hover {
    z-index: 5;
    transition-duration: 0.3s;
    background-color: #eeeeee;
    border-radius: 10px;
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 200px rgba(34, 34, 34, 0.9);
}

p.pricing-block-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #777;
}

ul.pricing-block-features-list {
    margin-top: 2em;
    list-style: none;
    line-height:200%;
}

p.pricing-block-price {
    padding-top:1em;
}

span.pricing-block-price-amount {
    font-size:4.5em;
    font-weight: 400;
}

sup.pricing-block-price-dollar {
    font-size: 100%;
    vertical-align: 150%;
    font-weight: 300;
    color: #777;
}

sub.pricing-block-price-division {
    font-size: 70%;
    vertical-align: 0;
    font-weight: 400;
}

button.pricing-block-button {
    border-radius: 30px;
    font-weight: 700;
    font-size: 1em;
    padding: 1em 1.2em;
    margin-top: 2em;
    border: 2px solid #aaaaaa;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button.pricing-block-button {
    border-radius: 30px;
    font-weight: 700;
    font-size: 1em;
    padding: 1em 1.2em;
    margin-top: 2em;
    border: 2px solid #aaaaaa;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition-duration: 0.2s;
    outline: none;
}

button.pricing-block-button:hover {
    transform: scale(1.2,1.2);
    border: 2px solid #FFC80A;
    background-color: #FFC80A;
    color:#eeeeee;
    transition-duration: 0.2s;
}

button.pricing-block-button:active {
    transform: scale(1.2,1.2);
    border: 2px solid #222222;
    background-color: #222222;
    color:#FFC80A;
    transition-duration: 0.2s;
}

/* Footer Section */

footer {
    height: auto;
    padding: 1.5em 0;
    background-color: #222222;
}

#footer-social {
    text-align: center;
}

.fa-footer {
    cursor: pointer;
    align-content: center;
    padding: 0.625em;
    margin: 0 0.375em 0.25em ;
    font-size: 1.25em;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition-duration: 0.3s;
    color: #eeeeee;
    background-color: #444444;
}

.fa-footer:hover {
    transition-duration: 0.3s;
    color: #444444;
    background-color: #eeeeee;
    transform: scale(1.2,1.2);
}

.fa-footer:active {
    transition-duration: 0.3s;
    color: #eeeeee;
    background-color: #FFC80A;
}

p#copyright {
    font-size: 90%;
    color: #eeeeee;
    font-weight: 300;
    letter-spacing: 0.09375em;
    transition-duration: 0.3s;
}

p#copyright:hover {
    cursor: pointer;
    color: #FFC80A;
    transform: scale(1.05,1.05);
    transition-duration: 0.3s;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#googlePlayBadge {
    display: flex;
    justify-content: center;
    margin-top: 0.3em
}

#googlePlayBadge a {
    margin: -9px;
}

#googlePlayBadge img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    cursor: pointer;
}

#legal {
    display: flex;
    justify-content: center;
    margin-bottom: 0.7em;
}

#legal p {
    font-size: 0.5em;
    color: #aaaaaa;
}

/* About section */

#about {
  height: auto;
  padding-bottom: 5%;
  text-align: center;
  color: White;
  font-size: 25px;
  background:
          linear-gradient(
                  rgba(22,22,22, 0.35),
                  rgba(22,22,22,0.35)
          );
}



.Read-button{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFC80A;
  border-radius: 20px;
  padding: 20px 70px;
  border: 5px solid #FFC80A;
  letter-spacing: 3px;
  transition-duration: 0.35s;
  outline: none;
  cursor: pointer;
}

.Read-button span {
  font-weight: 400;
  letter-spacing: 2px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.panel{
  font-size: 20px;
  position: relative;
  max-height: 140px;
  overflow: hidden;
  -webkit-transition: max-height 1s ease;
  transition: max-height 1s ease;
  font-weight: 400;
  line-height: 150%;
}

.Read-button:hover {
  background-color: transparent;
 color: black;
 transition-duration: 0.35s;
  border: 5px solid #FFC80A;
}

.Read-button:active{

}

.Read-button:hover span {
  padding-left: 25px;
  padding-right: 25px;
}

.Read-button span:after{
  position: absolute;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.panel.-expanded{
  max-height: 100vh;
}

.panel:not(.-expanded)::after{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
  background: linear-gradient(rgba(255, 255, 255, 0), white);
}

/*TEAM SECTION*/
#teamcontainer{
    background-color: white;

}
.teamtext{
    color: black;
    text-align: center;

}

/*Team Title*/
.teamfancy {
    margin-bottom: 15em;
    text-align: center;
    font-family: georgia;
    font-style: italic;
    overflow: hidden;
    left: 40%;
}
.teamfancy:before,
.teamfancy:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
.teamfancy:before {
 right: 0.5em;
 margin-left: -50%;
}
.teamfancy:after {
 left: 0.5em;
 margin-right: -50%;
}
.title {
  margin: 10em 0 4em 0;
}
/*Team Names*/
.teamnames{
    text-align: left;
    color: black;
    position: center;

}
.teamname{
    display: inline;
    text-align: center;
    margin-left: 12em;

}
/*Team Social*/
.fa-team {
    cursor: pointer;
    align-content: center;
    padding: 10px;
    margin: 18px 5px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition-duration: 0.3s;
    color: #eeeeee;
    background-color: #444444;
}
.fa-team:hover {
    transition-duration: 0.3s;
    color: #444444;
    background-color: #eeeeee;
    transform: scale(1.2,1.2);
}
.fa-team:active {
    transition-duration: 0.3s;
    color: #eeeeee;
    background-color: #FFC80A;
}
.teamsocial{
    display: inline;
}
.AndrewSocial{
    font-size: 3px;
    width: 3px;
    margin-left: 34em;
    display: inline;
}
.LucasSocial{
    font-size: 3px;
    width: 3px;
    margin-left: 34em;
    display: inline;
}
.BenoitSocial{
    width: 3px;
    font-size: 3px;
    margin-left: 28em;
    display: inline;
}
.DeidreickSocial{
    font-size: 3px;
    width: 3px;
    margin-left: 33em;
    display: inline;
}
.DanielSocial{
    font-size: 3px;
    width: 3px;
    margin-left: 32em;
    display: inline;
}

/*CONTACT*/
#contact {
    height: auto;
    position: relative;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

#contact-content {
    position: relative;
    justify-content: center;
    display: flex;
    z-index: 2;
    margin-top: 5%;
    overflow: hidden;
}

#contact-info {
    width: 50%;
    z-index: 3;
    text-align: left;
    position: relative;
}

#contact-form {
    width: 50%;
    z-index: 3;
    text-align: left;
    display: block;
}

#contact-top {
    width: 100%;
    text-align: center;
}

#contact-title {
    font-size: 3.5em;
    z-index: 4;
    letter-spacing: 2px;
    padding-top: 5%;
}

.contact-stuff {
    font-size: 1em;
    z-index: 4;
    margin-left: 18%;
}

#contact-info-first {
    margin-top: 5%;
}

#contact-name-box, #contact-email-box {
    background-color: transparent;
    color: black;
    padding: 0.25em 0.25em;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #FFC80A 2px;
    width: 85%;
}

::-webkit-input-placeholder {
    font-family: montserrat;
}

#name-elements, #email-elements {
    width: 50%;
    float: left;
}

#message-elements {
    margin-top: 10%;
}

#contact-message-box {
    background-color: transparent;
    color: black;
    padding: 0.25em 0.25em;
    outline: none;
    outline-style: none;
    border: solid #FFC80A 2px;
    width: 92.5%;
    resize: none;
}

#contact-name, #contact-email, #contact-message {
    font-size: 0.85em;
    padding-left: 1%;
    visibility: hidden;
}

#bottom-button {
    width: 92.5%;
    content-align: center;
    padding: 0px 45%;
}

#contact-button {
    margin-top: 5%;
    margin-bottom: 5%;
}

#map {
    height: 15em;
    width: 100%;
}

.features-container{
    padding-top: 8em;
    font-family: montserrat;
    text-align: center;
}

.features-main-title{
    font-size: 4em;
}

.features-switch {
  position: relative;
  display: inline-block;
  margin-top: 2em;
  width: 20em;
  height: 3em;
}

/* Hide default HTML checkbox */
.feature-switch input {display:none;}

/* The slider */
.features-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

.features-slider:before {
  position: absolute;
  content: "";
  height: 2.3em;
  width: 10em;
  left: -0.1em;
  bottom: -0.01em;
  background-color: #FFC80A;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .features-slider:before {
  -webkit-transform: translateX(9.4em);
  -ms-transform: translateX(9.4em);
  transform: translateX(9.4em);
}

.features-slider.features-round {
  border-radius: 34px;
  border-style: solid;
  border-color: #FFC80A;
}

.features-slider.features-round:before {
  border-radius: 34px;
  border-style: solid;
  border-color: #FFC80A;
}

.features-web-tab{
    position: absolute;
    left: 3.6em;
    top: 0.75em;
    color: #222222;
}

.features-mobile-tab{
    position: absolute;
    right: 3.6em;
    top: 0.75em;
    color: #222222;
}

.features-tabs {
  width: 100%;
  display: flex;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  height: auto;
  min-height: 200px;
  max-height: 600px;
  overflow: hidden;
}

.features-accordion {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  vertical-align: top;
  width: 50%;
}

.features-tabs ul li a {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  color: #3b3b3b;
  border-top: solid 2px #e9e9e9;
  padding: 20px 5px;
  z-index: 1;
  opacity: .5;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.features-tabs ul li:focus, a:focus {
  outline: none;
}

.features-tabs ul li:nth-child(1) a {
  border-top: none;
}

.features-tabs ul li a.active {
  opacity: 1;
}

.features-para-a {
  font-weight: bold;
  margin-top: 10px;
  padding: 0;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  border: none;
  font-family: 'Montserrat';
  color: #2b2b2b;
}

.features-tag {
  position: relative;
  width: 100%;
}

.features-icon {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #c7c7c7;
  border-radius: 100%;
  vertical-align: middle;
}

.features-block {
  position: absolute;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  border: solid 2px #7b7b7b;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.features-circle {
  position: absolute;
  padding: 2px;
  border: solid 2px #7b7b7b;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.features-title {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 10px;
  vertical-align: middle;
  color: #7b7b7b;
}

.features-addon {
  position: relative;
  width: 80%;
  top: -25px;
  margin-left: 70px;
  letter-spacing: 0;
  font-size: 13px;
  color: #9b9b9b;
  opacity: 0;
  font-family: 'Open Sans';
}

.features-addon.fadein {
  opacity: 1;
}


.features-iphone-container {
    position: absolute;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*==== iPHONE BODY ====*/

.features-iphone {
    height: 622.08px;
    width: 317px;
    background-color: #202020;
    border-radius: 3em;
    position: relative;
}

/*==== POWER/LOCK BUTTON ====*/

.features-power {
    height: 55px;
    width: 3%;
    background-color: #202020;
    position: absolute;
    left: 98%;
    top: 120px;
    border-radius: 3em;
}

/*==== SPEAKER BUTTONS ====*/

.features-speaker1 {
    height: 45px;
    width: 3%;
    background-color: #202020;
    position: absolute;
    left: -1.4%;
    top: 125px;
    border-radius: 3.5em;
}

.features-speaker2 {
    height: 45px;
    width: 3%;
    background-color: #202020;
    position: absolute;
    left: -1.4%;
    top: 178px;
    border-radius: 3.5em;
}

/*==== FRONT CAMERA ====*/

.features-camera {
    width: 9px;
    height: 9px;
    background-color: #2f2f2f;
    border-radius: 50%;
    position: absolute;
    top: 6.4%;
    left: 38%;
    transform: translateX(-38%);
}

/*==== FRONT SPEAKER ====*/

.features-speaker {
    width: 15%;
    height: 7px;
    background-color: #2f2f2f;
    border-radius: 20px;
    position: absolute;
    top: 6.4%;
    left: 50%;
    transform: translateX(-50%);
}

/*==== MAIN SCREEN ====*/

.features-screen {
    max-width: 90%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22%;
    position: relative;
}

.features-browser-container{
    position: absolute;
    margin-top: 5em;
    width: 50%;
    height: 50%;
    text-align: center;
    right: 50%;
    left: 25%;
}
.features-browser{
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0;
  margin: 0 auto;
}

.features-browser:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.features-browser > * {
  display: block;
}

.features-browser img{
    width: 100%;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.features-screen img{
    width: 100%;
    border-radius: 1.3em;
}


