@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body a,p,ul,li,sub,sup,h1, pre{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
    user-select: none;
    cursor: default;
}

section,
div{
    margin-left: 0;
    margin-top: 0;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

/* Home Section */

#home-button {
    background-color: #FFC80A;
    border-radius: 20px;
    padding: 20px 70px;
    border: 5px solid #FFC80A;
    letter-spacing: 3px;
    transition-duration: 0.35s;
    outline: none;
}

#home-button:hover {
    background-color: transparent;
    color: white;
    transition-duration: 0.35s;
    border: 5px solid #FFC80A;
}

#home-title {
    font-size: 0;
    animation-name: home;
    animation-delay: 0.1s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes home {
    from{
        font-size:0;
    }
    to {
        font-size: 15vw;
    }
}

.button {
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    margin-top: 25px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.subtext {
    color: #eeeeee;
    font-size: 24px;
    text-align: center;
}

.info {
    vertical-align: middle;
    text-align: center;
    position: relative;
}

span.logo-first {
    color: #eeeeee;
    font-weight: 700;
}

span.logo-second {
    color: #222222;
    font-weight: 700;
}

.photo {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: relative;
}

.color {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: relative;
}

#home {
    background: linear-gradient(rgba(22,22,22, 0.5), rgba(22,22,22,0.5)), url("Images/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    height: 100%;
    min-height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
}

.downArrow {
    position: relative;
    display: flex;
}

#down{
    position: relative;
    display: inline-block;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    color: #eeeeee;
    padding: 15px;
    outline: none;
    user-select: none;
    cursor: pointer;
    top: 90px;
}

#down:hover{
    color: #FFC80A;
    background-color: #323232;
    transform: scale(1.2,1.2);
    transition-duration: 0.2s;
}

/* Navigation Bar Menu Button */

.topnav .menu-btn {
    display: none;
}

.topnav .menu-btn:checked ~ nav .menu,
.topnav .menu-btn:checked ~ nav .menudown{
    max-height: 400px;
}

.topnav .menu-btn:checked ~ nav .menu1,
.topnav .menu-btn:checked ~ nav .menudown1{
    max-height: 0px;
}

.topnav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.topnav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.topnav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.topnav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.topnav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* Navigation Bar */

.topnav {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 3;
    transition-duration: 2s;
}

.topnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 1.25em 0.7em;
    text-decoration: none;
    transition-duration: 0.25s;
}

.topnav li a:hover {
    position: relative;
    color: #FFC80A;
    cursor: pointer;
    font-weight: 900;
    transform: scale(1.2, 1.2);
    background-color: inherit;
}

.topnav .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

.active {
    color: #FFC80A !important;
    cursor: pointer;
    transition-duration: 0.25s;
    background-color: inherit;
    transform: scale(1.2, 1.2);
    transition-timing-function: ease;
}

/* Navigation Bar Menu */

.topnav nav .menu,
.topnav nav .menudown{
    clear: none;
    float: right;
    max-height: none;
    padding-right: 1.25em;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.menu li a {
    color: #eeeeee;
    transition-duration: 0.25s;
}

.menu li a:hover {
    color: #FFC80A !important;
    cursor: pointer;
    font-weight: 900;
    transform: scale(1.2, 1.2);
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

/* Navigation Bar Menu Icon */

.topnav .menu-icon {
    cursor: pointer;
    display: none;
    float: right;
    padding: 31px 22px;
    position: relative;
    user-select: none;
    margin: 0;
}

.topnav .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.topnav .menu-icon .navicon:before,
.topnav .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.topnav .menu-icon .navicon:before {
    top: 5px;
}

.topnav .menu-icon .navicon:after {
    top: -5px;
}

/* Navigation Bar */

a {
    color: #222222;
}

#logo {
    padding: 0.55em 1.25em;
    float: left;
    transition-duration: 0.3s;
}

#logo-link {
    float:left;
    color: transparent;
    font-size: 2em;
    cursor: default;
    transition-duration: 0.3s;
}

#logo-link-down {
    float:left;
    letter-spacing: 1.05px;
    transition-duration: 0.3s;
    font-weight: 700;
    font-size: 2em;
    color: rgb(34, 34, 34);
    cursor: pointer;
}

#logo-link-down:hover {
    float:left;
    color: #FFC80A;
    font-weight: 700;
    transition-duration: 0.3s;
    transform: scale(1.07, 1.07);
    transition-timing-function: ease;
}

/* Navigation Bar Transition (60em = 960px) */

.topnav-mobile li {
    float: none;
}
.topnav-mobile li a {
    color: #222222;
    letter-spacing: normal;
}

.topnav-mobile nav .menu,
.topnav-mobile nav .menudown{
    clear: both;
    float: none;
    max-height: 0;
    padding-right: 0;
}

.topnav-mobile .menu-icon {
    display: inline-block;
}

.topnav-mobile li a:hover {
    transform: none;
    background-color: #222;
}

.topnav-mobile {
    background-color: rgba(238, 238, 238, 0.9);
}

.topnav-mobile .active {
    transform: none;
    color: #eeeeee !important;;
    background-color: #333;
    font-weight: 600;
}

@media (max-width: 960px) {
    #home {
        padding: 1em;
    }

    .topnav li {
        float: none;
    }

    .topnav li a {
        color: #222222;
        letter-spacing: normal;
    }

    .topnav nav .menu,
    .topnav nav .menudown{
        clear: both;
        float: none;
        max-height: 0;
        padding-right: 0;
    }

    .topnav .menu-icon {
        display: inline-block;
    }

    .topnav li a:hover {
        transform: none;
        background-color: #222;
    }

    .topnav {
        background-color: rgba(238, 238, 238, 0.9);
    }

    .active {
        transform: none;
        color: #eeeeee !important;
        background-color: #333;
    }
}

/* Pricing Section */

#pricing {
    background: linear-gradient(rgba(22,22,22, 0.35), rgba(22,22,22,0.35)), url("Images/pricing.jpg");
    height: auto;
    width: auto;
    padding: 3em;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: 1;
    margin:0;
    position: relative;
}

p#pricing-title{
    text-transform: uppercase;
    z-index: 2;
    text-align: center;
    font-size: 4em;
    margin: 0;
    color: #eeeeee;
    padding-top: 1em;
}

p#pricing-description {
    z-index: 2;
    color: #eeeeee;
    text-align: center;
    padding: 1em 20vw 1.75em;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 200%;
}

@media (max-width: 960px) {
    p#pricing-description {
        padding: 1em 0 1.75em;
        font-size: 1.25em;
        line-height: 175%;
    }
}

#pricing-block {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    height:auto;
    z-index: 3;
    border-radius: 10px;
    align-content: flex-start;
}

#pricing-block1 {
    z-index: 4;
    justify-content: center;
    text-align: center;
    width: 18.5em;
    padding:5em 0;
    background-color: rgba(238, 238, 238, 0.9);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition-duration: 0.3s;
}

#pricing-block1:hover {
    z-index: 5;
    transition-duration: 0.3s;
    background-color: #eeeeee;
    border-radius: 10px;
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 200px rgba(34, 34, 34, 0.9);
}

#pricing-block2 {
    z-index: 4;
    width: 18.5em;
    text-align: center;
    justify-content: center;
    padding:5em 0;
    background-color: rgba(238, 238, 238, 0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition-duration: 0.3s;
}

@media (max-width: 704px) {
    #pricing-block1 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    #pricing-block2 {
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
    }
}

#pricing-block2:hover {
    z-index: 5;
    transition-duration: 0.3s;
    background-color: #eeeeee;
    border-radius: 10px;
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 200px rgba(34, 34, 34, 0.9);
}

p.pricing-block-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #777;
}

ul.pricing-block-features-list {
    margin-top: 2em;
    list-style: none;
    line-height:200%;
}

p.pricing-block-price {
    padding-top:1em;
}

span.pricing-block-price-amount {
    font-size:4.5em;
    font-weight: 400;
}

sup.pricing-block-price-dollar {
    font-size: 100%;
    vertical-align: 150%;
    font-weight: 300;
    color: #777;
}

sub.pricing-block-price-division {
    font-size: 70%;
    vertical-align: 0;
    font-weight: 400;
}

button.pricing-block-button {
    border-radius: 30px;
    font-weight: 700;
    font-size: 1em;
    padding: 1em 1.2em;
    margin-top: 2em;
    border: 2px solid #aaaaaa;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button.pricing-block-button {
    border-radius: 30px;
    font-weight: 700;
    font-size: 1em;
    padding: 1em 1.2em;
    margin-top: 2em;
    border: 2px solid #aaaaaa;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition-duration: 0.2s;
    outline: none;
}

button.pricing-block-button:hover {
    transform: scale(1.2,1.2);
    border: 2px solid #FFC80A;
    background-color: #FFC80A;
    color:#eeeeee;
    transition-duration: 0.2s;
}

button.pricing-block-button:active {
    transform: scale(1.2,1.2);
    border: 2px solid #222222;
    background-color: #222222;
    color:#FFC80A;
    transition-duration: 0.2s;
}

/* Footer Section */

footer {
    height: auto;
    padding: 1.5em 0;
    background-color: #222222;
}

#footer-social {
    text-align: center;
}

.fa-footer {
    cursor: pointer;
    align-content: center;
    padding: 0.625em;
    margin: 0 0.375em 0.25em ;
    font-size: 1.25em;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition-duration: 0.3s;
    color: #eeeeee;
    background-color: #444444;
}

.fa-footer:hover {
    text-decoration: none;
    transition-duration: 0.3s;
    color: #444444;
    background-color: #eeeeee;
    transform: scale(1.2,1.2);
}

.fa-footer:active {
    transition-duration: 0.3s;
    color: #eeeeee;
    background-color: #FFC80A;
}

p#copyright {
    font-size: 90%;
    color: #eeeeee;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.09375em;
    transition-duration: 0.3s;
}

p#copyright:hover {
    cursor: pointer;
    text-decoration: none;
    color: #FFC80A;
    transform: scale(1.05,1.05);
    transition-duration: 0.3s;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 0.7em;
}

#googlePlayBadge {
    display: flex;
    justify-content: center;
    margin-top: 0.3em;
    margin-bottom: 0.7em;
}

#googlePlayBadge a {
    margin: -9px;
}

#googlePlayBadge img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    cursor: pointer;
}

.legal {
    display: flex;
    justify-content: center;
    margin-bottom: 0.2em;
}

.legal p {
    font-size: 0.5em;
    color: #aaaaaa;
}

/* About section */

#about {
    height: auto;
    padding: 3em;
    padding-top: 4em;
    text-align: center;
    color: #eeeeee;
    background-color: #323232;
}

.about_title{
    font-size: 4em;
    text-align:center;
    padding-top: 0.75em;
    font-family: Montserrat, serif;
    text-transform: uppercase;
    color: #eeeeee;
    margin: 0;
    font-weight: 500;
}

.Read-button{
    font-weight: 600;
    font-size: 1em;
    font-family: Montserrat, serif;
    background-color: #FFC80A;
    margin-top: 2em;
    border-radius: 10px;
    padding: 5px 20px;
    border: 5px solid #FFC80A;
    letter-spacing: 3px;
    transition-duration: 0.35s;
    cursor: pointer;
}
.Read-button:focus{
    outline: 0;
}

.Read-button span {
    letter-spacing: 3px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.panel{
    font-weight: 400;
    font-size: 20px;
    position: relative;
    max-height: 90px;
    overflow: hidden;
    -webkit-transition: max-height 1s ease;
    transition: max-height 1s ease;
    line-height: 150%;
}

@media (max-width:600px) {
    #about{
        padding-bottom: 30%;
    }
    .panel{
        max-height: 160px;
        font-weight: 400;
        font-size: 0.72em;
        overflow-y:hidden;
        margin-right: auto;
        margin-bottom: 20px;
    }
}
.Read-button:hover {
    background-color: transparent;
    color: white;
    transition-duration: 0.35s;
    border: 5px solid #FFC80A;
}

.Read-button:active{

}

.Read-button:hover span {

}

.Read-button span:after{
    position: absolute;
    top: 0;
    right: -20px;
    transition: 0.5s;
    font-size: 0.75em;
    font-family: Montserrat;
    font-weight: 600;
}

.panel.-expanded{
    max-height: 100vh;
}

.panel:not(.-expanded)::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
    background: linear-gradient(rgba(255, 255, 255, 0), white);
}

/*TEAM SECTION*/
#teamcontainer{
    background-color: #eeeeee;
    height: auto;
    width: auto;
    padding: 3em;
}
.teamtext{
    color: #232323;
    text-align: center;
}
.teamphotos {
    display: block;
    margin-bottom: 1em;
    transition-duration: 0.3s;
    box-shadow: 0 0 5px #222222;
}

/*Team Title*/
.teamfancy {
    text-transform: uppercase;
    font-family: Montserrat;
    text-align: center;
    font-size: 4em;
    margin-bottom: 1em;
    margin-top: 1em;
    overflow: hidden;
}
/*Team Names*/
/*
.teamnames{
    text-align: left;
    color: black;
    position: center;
    display: inline;
}
.teamname {
    display: inline;
}
*/

.teamname {
    color: #eeeeee;
}

.members {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height:auto;
    align-content: flex-start;
}

.member {
    margin: 1em;
    justify-content: center;
    text-align: center;
    background-color: #232323;
    padding:2em 2em;
    transition-duration: 0.3s;
    box-shadow: 0 0 5px #232323;
}


.teamphotos:hover {
    transition-duration: 0.3s;
    filter: blur(10px) grayscale(1) brightness(3);
}

.teamphotos:hover + .num2 {
    opacity: 1 !important;
}

.image {
    position: relative;
    height:225px;
    width:225px;
    z-index: 98;
    transition-duration: 0.3s;
    margin-bottom: 1em;
}

.inner {
    z-index: 99;
    opacity: 0;
    transition: all .8s ease;
    transition-duration: 0.3s;
    align-content: center;
}

.image:hover {
    transition-duration: 0.3s;
}

.image:hover > .teamphotos1212 {
    filter:  brightness(2) blur(15px) grayscale(0.5);
    transition-duration: 0.3s;
}

.teamphotos1212 {
    transition-duration: 0.3s;
    box-shadow: 0 0 5px #222222;
}

.image:hover > .inner {
    transition-duration: 0.3s;
    opacity: 1;
}

.quote {
    transition-duration: 0.3s;
    position: absolute;
    text-align: center;
    top: 30%;
    color: #222222;
    font-weight: 900;
    font-style: italic;
}

.member:hover {
    transition-duration: 0.3s;
    transform: scale(1.1,1.1);
}

#lucasQuote {
    top: 30%;
}

#andrewQuote {
    top: 10%;
}

#benoitQuote {
    top: 20%;
}

#deidrickQuote {
    top: 20%;
}

#danielQuote {
    top: 28%;
}

/*Team Social*/

.fa-team {
    cursor: pointer;
    align-content: center;
    padding: 10px;
    margin: 18px 5px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition-duration: 0.3s;
    color: #eeeeee;
    background-color: #444444;
}

.fa-team:hover {
    transition-duration: 0.3s;
    color: #444444;
    background-color: #eeeeee;
    transform: scale(1.2,1.2);
}

.fa-team:active {
    transition-duration: 0.3s;
    color: #eeeeee;
    background-color: #FFC80A;
}

/*
.teamsocial{
    display: inline;
}
.AndrewSocial{
    font-size: 3px;
    width: 3px;
    margin-left: 54em;
    display: inline;
}
.LucasSocial{
    font-size: 3px;
    width: 3px;
    margin-left: 69em;
    display: inline;
}
.BenoitSocial{
    width: 3px;
    font-size: 3px;
    margin-left: 70em;
    display: inline;
}
.DeidreickSocial{
    font-size: 3px;
    width: 3px;
    margin-left: 69em;
    display: inline;
}
.DanielSocial{
    font-size: 3px;
    width: 3px;
    margin-left: 68em;
    display: inline;
}
*/
/*CONTACT*/
#contact {
    height: auto;
    position: relative;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

#contact-content {
    position: relative;
    justify-content: center;
    display: flex;
    z-index: 2;
    margin-top: 5%;
    overflow: hidden;
}

#contact-info {
    width: 40%;
    z-index: 3;
    text-align: left;
    position: relative;
}

#contact-form {
    width: 60%;
    z-index: 3;
    text-align: left;
    display: block;
    margin-right: 5%;
}

#contact-top {
    width: 100%;
    text-align: center;
    padding-top: 3em;
}

#contact-title {
    font-size: 4em;
    z-index: 4;
    letter-spacing: 2px;
    padding-top: 1em;
    color: #444444;
}

.contact-stuff {
    font-size: 1em;
    z-index: 4;
    margin-left: 18%;
    font-weight: bold;
    padding: 6.5% 0;
}

.contact-stuff a {
    color: #444444;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.3s;
}

.contact-stuff a:hover {
    text-decoration: none;
    color: #FFC80A;
    transition-duration: 0.3s;
}

.contact-label {
    font-size: 1em;
    letter-spacing: 5px;
    color: #a6a6a6;
    z-index: 4;
    margin-left: 18%;
}

#name-elements {
    width: 50%;
    float: left;
}

#email-elements {
    width: 50%;
    float: right;
}

#message-elements {
    margin-top: 10%;
}

.filled {
    border-color: #FFC80A;
    transition-duration: 0.5s;
}

.notfilled {
    border-color: #ccc;
    transition-duration: 0.5s;
}

#contact-name-box {
    background-color: transparent;
    color: black;
    padding: 0.25em 0.35em;
    outline: none;
    outline-style: none;
    border-width: 0 0 2px 0;
    width: 95%;
    float: left;
    transition-duration: 0.5s;
    font-family: montserrat;
    box-sizing: border-box;
}

#contact-email-box {
    background-color: transparent;
    color: black;
    padding: 0.25em 0.35em;
    outline: none;
    outline-style: none;
    border-width: 0 0 2px 0;
    float: right;
    width: 95%;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-family: montserrat;
}

::-webkit-input-placeholder {
    font-family: montserrat;
}

#contact-message-box {
    background-color: transparent;
    color: black;
    padding: 0.25em 0.45em;
    outline: none;
    outline-style: none;
    border-width: 2px;
    width: 100%;
    resize: none;
    transition-duration: 0.5s;
    font-family: montserrat;
    box-sizing: border-box;
}

/*#contact-name, #contact-email, #contact-message {
    font-size: 0.85em;
    padding-left: 1%;
    visibility: hidden;
}*/

#contact-name-box:focus, #contact-email-box:focus {
    border-color: #FFC80A;
    transition-duration: 0.5s;
}

#contact-message-box:focus {
    border-color: #FFC80A;
    transition-duration: 0.5s;
}

#bottom-button {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

#contact-button {
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 60px;
    border: 3px solid #FFC80A;
    color: #444444;
    margin: 5% 0;
    transition-duration: 0.2s;
    outline: none;
    font-family: montserrat;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 1em;
}

#contact-button:hover {
    background-color: #FFC80A;
    transition-duration: 0.2s;
    border: 3px solid #FFC80A;
    cursor: pointer;
}

#map {
    height: 17em;
    width: 100%;
}

.features-container{
    padding-bottom: 0.2em;
    padding-top: 0;
}

.features-main-title{
    font-size: 4em;
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 1.5em;
    text-transform: uppercase;
}

.features-switch {
    position: relative;
    display: inline-block;
    width: 20em;
    height: 3em;
    padding-bottom: 0.4em;
}

/* Hide default HTML checkbox */
.feature-switch input {
    display:none;
}

/* The slider */
.features-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
}

.features-slider:before {
    position: absolute;
    content: "";
    height: 2.63em;
    width: 10.3em;
    left: 0.01em;
    bottom: 0.00em;
    background-color: #FFC80A;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .features-slider:before {
    -webkit-transform: translateX(9.4em);
    -ms-transform: translateX(9.4em);
    transform: translateX(9.4em);
}

.features-slider.features-round {
  border-radius: 34px;
  border-style: solid;
  border-color: #FFC80A;
}

.features-slider.features-round:before {
  border-radius: 34px;
  border-style: solid;
  border-color: #FFC80A;
}

.features-web-tab{
    position: absolute;
    left: 3.6em;
    top: 0.75em;
    color: #222222;
}

.features-mobile-tab{
    position: absolute;
    right: 3.6em;
    top: 0.75em;
    color: #222222;
}

.features-tabs {
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    height: auto;
    min-height: 200px;
    max-height: 600px;
    overflow: hidden;
}

.features-accordion {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    vertical-align: top;
    width: 50%;
}

.features-tabs ul li a {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #3b3b3b;
    border-top: solid 2px #e9e9e9;
    padding: 20px 5px;
    z-index: 1;
    opacity: .5;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.features-tabs ul li:focus, a:focus {
    outline: none;
}

.features-tabs ul li:nth-child(1) a {
    border-top: none;
}

.features-tabs ul li a.active {
    opacity: 1;
}

.features-para-a {
    font-weight: bold;
    margin-top: 10px;
    padding: 0;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    border: none;
    font-family: 'Montserrat';
    color: #2b2b2b;
}

.features-tag {
    position: relative;
    width: 100%;
}

.features-icon {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #c7c7c7;
    border-radius: 100%;
    vertical-align: middle;
}

.features-block {
    position: absolute;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    border: solid 2px #7b7b7b;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.features-circle {
    position: absolute;
    padding: 2px;
    border: solid 2px #7b7b7b;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.features-title {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px;
    vertical-align: middle;
    color: #7b7b7b;
}

.features-addon {
    position: relative;
    width: 80%;
    top: -25px;
    margin-left: 70px;
    letter-spacing: 0;
    font-size: 13px;
    color: #9b9b9b;
    opacity: 0;
    font-family: 'Open Sans';
}

.features-addon.fadein {
    opacity: 1;
}

.features-iphone-container {
    position: absolute;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*==== iPHONE BODY ====*/

.features-iphone {
    height: 622.08px;
    width: 317px;
    background-color: #202020;
    border-radius: 3em;
    position: relative;
}

/*==== POWER/LOCK BUTTON ====*/

.features-power {
    height: 55px;
    width: 3%;
    background-color: #202020;
    position: absolute;
    left: 98%;
    top: 120px;
    border-radius: 3em;
}

/*==== SPEAKER BUTTONS ====*/

.features-speaker1 {
    height: 45px;
    width: 3%;
    background-color: #202020;
    position: absolute;
    left: -1.4%;
    top: 125px;
    border-radius: 3.5em;
}

.features-speaker2 {
    height: 45px;
    width: 3%;
    background-color: #202020;
    position: absolute;
    left: -1.4%;
    top: 178px;
    border-radius: 3.5em;
}

/*==== FRONT CAMERA ====*/

.features-camera {
    width: 9px;
    height: 9px;
    background-color: #2f2f2f;
    border-radius: 50%;
    position: absolute;
    top: 6.4%;
    left: 38%;
    transform: translateX(-38%);
}

/*==== FRONT SPEAKER ====*/

.features-speaker {
    width: 15%;
    height: 7px;
    background-color: #2f2f2f;
    border-radius: 20px;
    position: absolute;
    top: 6.4%;
    left: 50%;
    transform: translateX(-50%);
}

/*==== MAIN SCREEN ====*/

.features-screen {
    max-width: 90%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22%;
    position: relative;
}

.features-browser-container{
    position: absolute;
    margin-top: 5em;
    width: 50%;
    height: 50%;
    text-align: center;
    right: 50%;
    left: 25%;
}

.features-browser{
    border-top: 2em solid rgba(230, 230, 230, 0.7);
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 3px 3px 0 0;
    margin: 0 auto;
}

.features-browser:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.features-browser > * {
    display: block;
}

.features-browser img{
    width: 100%;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.features-screen img{
    width: 100%;
    border-radius: 1.3em;
}

#topBtn {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #FFC80A;
    color: #eeeeee;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.myBtnTop {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.myBtnDown{
    visibility: visible !important;
    opacity: 1 !important;
}

#topBtn:hover {
    background-color: #232323;
    color: #FFC80A;
    transform: scale(1.2,1.2);
    transition-duration: 0.2s;
}

#topBtn:active {
    transform: scale(1,1);
    color: #232323;
    background-color: #FFC80A;
}

#features {
    margin: 3em;
}

.fdb-block {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    padding: 0 3em;
    color: #444444;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color: #FFFFFF;
}

.fdb-block.fdb-viewport {
    min-height: calc(100% - 2 * $block-padding);
}
.fdb-block.fdb-viewport .container {
      min-height: calc(100% - 2 * $block-padding);
}
.fdb-block.fdb-image-bg {
    color: #f2f2f2;
}
.fdb-block .fdb-box {
    background: #FFFFFF;
    color: #444444;
    padding: 60px 40px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
}

.fdb-block .fdb-touch {
    border-top: solid 5px #FFC80A;
}

.fdb-block h1, .fdb-block .text-h1 {
    font-size: 2.75rem;
    margin-bottom: .5em;
    margin-top: .3em;
    font-weight: 400;
}

.fdb-block h2, .fdb-block .text-h2 {
    font-size: 2rem;
    margin-bottom: .5em;
    margin-top: .3em;
    font-weight: 400;
}

.fdb-block h3, .fdb-block .text-h3 {
    font-size: 1.125rem;
    margin-bottom: .5em;
    margin-top: .3em;
    font-weight: 400;
}

.fdb-block h4, .fdb-block .text-h4 {
    font-size: 1rem;
    margin-bottom: .5em;
    margin-top: .3em;
    font-weight: 400;

}

.fdb-block h5, .fdb-block .text-h5 {
    font-size: 0.9rem;
    margin-bottom: .5em;
    margin-top: .3em;
    font-weight: 400;
}

.fdb-block h6, .fdb-block .text-h6 {
    font-size: 0.75rem;
    margin-bottom: .5em;
    margin-top: .3em;
    font-weight: 400;
}

.fdb-block .font-weight-light {
    font-weight: 300;
}

.fdb-block img {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.fdb-block img + p, .fdb-block img + h3, .fdb-block img + h4 {
      margin-top: 20px;
}

.fdb-block img + h1, .fdb-block img + h2 {
      margin-top: 40px;
}

.fdb-block .col-fill-left {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.fdb-block .col-fill-left + div {
    position: relative;
    z-index: 2;
}

.fdb-block .col-fill-right {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.fdb-block .col-fill-right + div {
    position: relative;
    z-index: 2;
}

.fdb-block img.fdb-icon {
    width: auto;
    width: 60px;
}

.fdb-block img.fdb-icon-round {
    width: auto;
    width: 60px;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
}

.fdb-block .row-100 {
    height: 100px;
    width: 100%;
}

.fdb-block .row-50 {
    height: 50px;
    width: 100%;
}

.fdb-block .row-70 {
    height: 70px;
    width: 100%;
}

footer a{
    width: auto;
}

.member a{
    width: 2.1em;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

h4{
    font-family: montserrat, sans-serif;
}