#first {
    background:
            linear-gradient(
                    rgba(105,194,255,0.35),
            rgba(105,194,255,0.35)
            ),
            url("https://images.unsplash.com/photo-1494707924465-e1426acb48cb?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=");
    /*box-shadow: inset 105px 0px 100px 10px #000000;*/
    height: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}

#third {
    /*box-shadow: inset 105px 0px 100px 10px #000000;*/
    background:
            fixed,
            linear-gradient(
                    rgba(105,194,255,0.35),
                    rgba(105,194,255,0.35)
            ),
            url("https://images.unsplash.com/photo-1461749280684-dccba630e2f6?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=");
    background-attachment: fixed;
    height: 30%;
    background-size: cover;
}

#fifth {
    background-image: url("https://images.unsplash.com/photo-1493689485253-f07fcbfc731b?dpr=1&auto=format&fit=crop&w=1500&h=1024&q=80&cs=tinysrgb&crop=");
    /*box-shadow: inset 105px 0px 100px 10px #000000;*/
    background-attachment: fixed;
    height: 95%;
    background-size: cover;
}

.photo {
    background-position: center;
    z-index: 1;
    position: relative;
}

#second {
    background-color: #B5E1FF;
    height: 40%;
    /*box-shadow: inset 0px 0px 100px 10px #044f60;*/
}

#fourth {
    background-color: #B5E1FF;
    height: 20%;
}

#sixth {
    background-color: #34617F;
    height: 5%;
    vertical-align: middle;
    text-align: center;
}

.info {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 20px #666;
}

.caption {
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #111;
    position: relative;
}

@keyframes example {
    from {background-color: #3e4f58;}
    to {background-color: #5A717F;
        box-shadow: 0 0 20px #333;
        font-size: 50px;
    }
}

@keyframes  hover{
    from {
        font-size: 50px;
        background-color: #5A717F;
        box-shadow: 0 0 20px #333;}
    to {background-color: #3e4f58;
        font-size: 20px;
    }
}

.caption span.border:hover {
    animation-name: hover;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

.caption span.border {
    background-color: #3e4f58;
    color: #fff;
    padding: 18px;
    font-size: 20px;
    letter-spacing: 10px;
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

div {
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0px;
    margin-top: 0px;
}

p {
    font-size: 15px;
    color: #ffffff;
    line-height: 5vh;
    padding: 0;
    margin: 0;
}

body, html {
    font-family: "Lato", sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #5A717F;
    box-shadow: 0 0 10px #333;
    z-index: 6;
    position: fixed;
    width: 0;
}

.topnav a {
    float: right;
    display: block;
    color: #ffffff;
    padding: 0 0;
    text-decoration: none;
    font-size: 17px;
}

/* shows the navbar when the width of the screen is more then 768px */
@media (min-width: 768px){
    .topnav a {
        padding: 1vh 2vw;
    }
    .topnav {
        width: 100%;
    }
}

.topnav a:hover {
    background-color: #bdc6cb;
    color: #5A717F;
}

.topnav a.active {

}
