@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

body a,p,ul,li,sub,sup,h1{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    cursor: default;
}

section,
div{
    margin-left: 0;
    margin-top: 0;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

#home-button {
    background-color: #FFC80A;
    border-radius: 20px;
    padding: 20px 70px;
    border: 5px solid #FFC80A;
    letter-spacing: 3px;
    transition-duration: 0.35s;
    outline: none;
}

#home-button:hover {
    background-color: transparent;
    color: black;
    transition-duration: 0.35s;
    border: 5px solid #FFC80A;
}

#home-title {
    letter-spacing: 4px;
    font-size: 105px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    margin-top: 25px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.subtext {
    color: #eeeeee;
    font-size: 24px;
    text-align: center;
}

.info {
    left: 5%;
    top: 37%;
    width: 90%;
    text-align: center;
    position: relative;
}

#logo {
    padding: 0.85em 3em;
    float: left;
    transition-duration: 0.3s;
}

#logo-link {
    float:left;
    color: transparent;
    font-size: 2.4375em;
    cursor: default;
    transition-duration: 0.3s;
}

#logo-link-down {
    float:left;
    transition-duration: 0.3s;
    font-size: 2.4375em;
    color: rgb(34, 34, 34);
    cursor: pointer;
}

#logo-link-down:hover {
    float:left;
    color: #FFC80A;
    font-weight: 700;
    transition-duration: 0.3s;
    transform: scale(1.07, 1.07);
    transition-timing-function: ease;
}

span.logo-first {
    color: #eeeeee;
    font-weight: 700;
}

span.logo-second {
    color: #222222;
    font-weight: 700;
}

.photo {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: relative;
}

.color {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: relative;
}

#home {
    background:
            linear-gradient(
                    rgba(22,22,22, 0.35),
                    rgba(22,22,22,0.35)
            ),
            url("https://images.unsplash.com/photo-1495511623436-ba44aaee07cf?");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

.topnav {
    overflow: hidden;
    z-index: 6;
    position: fixed;
    width: 100%;
    transition-duration: 2s;
}

#listdown {
    display: inline-block;
    position: absolute;
    right: 2.3em;
}

#listdown a {
    letter-spacing: 2px;
    padding: 1.8em 0.7em;
    display: inline-block;
    color: #333333;
    font-size: 1em;
    transition-duration: 0.25s;
}

#listdown a:hover {
    color: #FFC80A;
    cursor: pointer;
    font-weight: 900;
    transform: scale(1.2, 1.2);
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

#list {
    display: inline-block;
    position: absolute;
    right: 2.3em;
}

#list a {
    letter-spacing: 2px;
    display: inline-block;
    color: #eeeeee;
    font-size: 1em;
    padding: 1.8em 0.7em;
    transition-duration: 0.25s;
}

#list a:hover,
.active
{
    color: #FFC80A !important;
    cursor: pointer;
    font-weight: 900;
    transform: scale(1.2, 1.2);
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

#pricing {
    background:
            linear-gradient(
                    rgba(22,22,22, 0.35),
                    rgba(22,22,22,0.35)
            ),
            url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40");
    height: auto;
    padding: 3em 0;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: 1;
    margin:0;
    position: relative;
}

p#pricing-title{
    text-transform: uppercase;
    z-index: 2;
    text-align: center;
    font-size: 400%;
    margin: 0;
    color: #eeeeee;
    padding-top: 1em;
}

p#pricing-description {
    z-index: 2;
    color: #eeeeee;
    text-align: center;
    padding-top: 2%;
    width: 50%;
    margin-left: 25%;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 200%;
}

#pricing-block {
    display:flex;
    justify-content: center;
    height:auto;
    width: 37em;
    z-index: 3;
    border-radius: 10px;
    margin: 4em auto 0;
}

#pricing-block1 {
    z-index: 4;
    justify-content: center;
    text-align: center;
    width: 50%;
    padding:5em 0;
    background-color: rgba(238, 238, 238, 0.9);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition-duration: 0.3s;
}

#pricing-block1:hover {
    z-index: 5;
    transition-duration: 0.3s;
    background-color: #eeeeee;
    border-radius: 10px;
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 200px rgba(34, 34, 34, 0.9);
}

#pricing-block2 {
    z-index: 4;
    text-align: center;
    justify-content: center;
    padding:5em 0;
    width: 50%;
    background-color: rgba(238, 238, 238, 0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition-duration: 0.3s;
}

#pricing-block2:hover {
    z-index: 5;
    transition-duration: 0.3s;
    background-color: #eeeeee;
    border-radius: 10px;
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 200px rgba(34, 34, 34, 0.9);
}

p.pricing-block-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #777;
}

ul.pricing-block-features-list {
    margin-top: 2em;
    list-style: none;
    line-height:200%;
}


p.pricing-block-price {
    padding-top:1em;
}

span.pricing-block-price-amount {
    font-size:4.5em;
    font-weight: 400;
}

sup.pricing-block-price-dollar {
    font-size: 100%;
    vertical-align: 150%;
    font-weight: 300;
    color: #777;
}

sub.pricing-block-price-division {
    font-size: 70%;
    vertical-align: 0;
    font-weight: 400;
}

button.pricing-block-button {
    border-radius: 30px;
    font-weight: 700;
    font-size: 1em;
    padding: 1em 1.2em;
    margin-top: 2em;
    border: 2px solid #aaaaaa;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button.pricing-block-button {
    border-radius: 30px;
    font-weight: 700;
    font-size: 1em;
    padding: 1em 1.2em;
    margin-top: 2em;
    border: 2px solid #aaaaaa;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition-duration: 0.2s;
    outline: none;
}

button.pricing-block-button:hover {
    transform: scale(1.2,1.2);
    border: 2px solid #FFC80A;
    background-color: #FFC80A;
    color:#eeeeee;
    transition-duration: 0.2s;
}

button.pricing-block-button:active {
    transform: scale(1.2,1.2);
    border: 2px solid #222222;
    background-color: #222222;
    color:#FFC80A;
    transition-duration: 0.2s;
}

footer {
    height: 12%;
    background-color: #222222;
}

#footer-social {
    text-align: center;
}

.fa {
    cursor: pointer;
    align-content: center;
    padding: 10px;
    margin: 18px 5px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition-duration: 0.3s;
    color: #eeeeee;
    background-color: #444444;
}

.fa:hover {
    transition-duration: 0.3s;
    color: #444444;
    background-color: #eeeeee;
    transform: scale(1.2,1.2);
}

.fa:active {
    transition-duration: 0.3s;
    color: #eeeeee;
    background-color: #FFC80A;
}

p#copyright {
    font-size: 90%;
    color: #eeeeee;
    font-weight: 300;
    letter-spacing: 1.5px;
    transition-duration: 0.3s;
}

p#copyright:hover {
    cursor: pointer;
    color: #FFC80A;
    transform: scale(1.05,1.05);
    transition-duration: 0.3s;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#about {
  text-align: center;
  color: White;
  font-family: 'Montserrat';
  font-size: 25px;
  background:
          linear-gradient(
                  rgba(22,22,22, 0.35),
                  rgba(22,22,22,0.35)
          ),
          url("https://images.pexels.com/photos/358627/pexels-photo-358627.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");

}
.Read-button{
  font-size: 24px;
  background-color: #FFC80A;
  border-radius: 20px;
  padding: 20px 70px;
  border: 5px solid #FFC80A;
  letter-spacing: 3px;
  transition-duration: 0.35s;
  outline: none;
  cursor: pointer;

}
.Read-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.panel{
  font-size: 24px;
  position: relative;
  max-height: 140px;
  overflow: hidden;
  -webkit-transition: max-height 1s ease;
  transition: max-height 1s ease;
}
.Read-button:hover {
  background-color: transparent;
 color: black;
 transition-duration: 0.35s;
  border: 5px solid #FFC80A;
}
.Read-button.active{
}
.Read-button:hover span {
  padding-left: 25px;
  padding-right: 25px;
}
.Read-button span:after{
  position: absolute;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.panel.-expanded{
  max-height: 100vh;
}
.panel:not(.-expanded)::after{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
  background: linear-gradient(rgba(255, 255, 255, 0), white);
}

#team{
    background-color: white;

}
.teamtext{
    color: black;
    text-align: center;

}
.teamnames{
    text-align: left;
    color: black;
    position: center;

}
.teamfancy{
    margin-top: 30px;
    text-align: center;
    left: 50%;
    font-family: georgia;
    font-style: italic;
    padding: 0px 20px;
}

#contact{
    height: auto;
}

#contact-title {
    font-size: 3.5em;
    margin-left: 12%;
    margin-top: 5%;
}

.contact-info {
    font-size: 1em;
    margin-left: 13%;
}

#contact-form {
    width: 45%;
    margin-right: 5%;
}

.teamname{
    display: inline-block;
    text-align: center;
    margin-left: 12em;
}